@font-face {
  font-family: "LiquidCrystal";
  src: url("https://db.onlinewebfonts.com/t/26440f756fa58357d028faf61fe27dee.eot");
  src: url("https://db.onlinewebfonts.com/t/26440f756fa58357d028faf61fe27dee.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/26440f756fa58357d028faf61fe27dee.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/26440f756fa58357d028faf61fe27dee.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/26440f756fa58357d028faf61fe27dee.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/26440f756fa58357d028faf61fe27dee.svg#LiquidCrystal")
      format("svg");
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ede8d8;
  font-family: liquid_crystal-font;
}
#body {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  background-color: #c0c0c0;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #888888;
  border-right: 3px solid #888888;
}
#levelList {
  margin-bottom: 2px;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  height: 28px;
  border-bottom: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  border-top: 3px solid #888888;
  border-left: 3px solid #888888;
}
#header__bombCounter,
#header__timeCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 50px;
  border: 1px solid #888888;
  background-color: black;
  color: red;
  font-size: 30px;
  font-family: "LiquidCrystal";
}
#header__startBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #888888;
  border-right: 3px solid #888888;
}
#board {
  border-bottom: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  border-top: 3px solid #888888;
  border-left: 3px solid #888888;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

#board div {
  display: flex;
  height: 16px;
  width: 16px;
  background-color: #c0c0c0;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #888888;
  border-right: 3px solid #888888;
}
